# U.S. Medical Insurance Costs

	1.	Age: Age of the individual.
	2.	Sex: Gender of the individual.
	3.	BMI: Body Mass Index.
	4.	Children: Number of dependents.
	5.	Smoker: Indicates whether the individual is a smoker (yes/no).
	6.	Region: Geographic region.
	7.	Charges: Medical insurance charges (in dollars).

In [2]:

import pandas as pd

# Load the dataset
file_path = '/Users/tetianakravchuk/Desktop/CodeAcademyProjects/DataScience/MedicalInsuranceCosts/Medical-Insurance-Costs/insurance.csv'
insurance_data = pd.read_csv(file_path)

# Display a summary of the dataset
insurance_data.info()

# Save dataset features into variables
age = insurance_data['age']
sex = insurance_data['sex']
bmi = insurance_data['bmi']
children = insurance_data['children']
smoker = insurance_data['smoker']
region = insurance_data['region']
charges = insurance_data['charges']


# Display the first few rows to inspect the contents
insurance_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520